

#root {
  text-align: center;
  
}

body, html {

  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-height: 20vh;
}

main {
  width: 100%;
  min-height: 50vh;
}

footer {
  color: white;
  width: 100%;
  min-height: 20vh;
  background-color: #363635;
}